* {
  --background-blur: 25px;
}

/* 修改字体 */
@font-face {
  font-family: ardFont;
  /*     src: url(https://cdn.jsdelivr.net/gh/huangwb8/bloghelper@latest/fonts/13.woff2) format('woff2') */
  src: url("/font/MaoKenZhuYuanTi-MaokenZhuyuanTi-2.ttf")
}

/* 修改main.css中:root里面自定义的样式 */
:root {
  --link-hover-color:#304adedb;
  --text-color: #000;
  --sec-text-color: #000;
  --font-family-sans-serif: ardFont, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

/* 修改category和目录字体大小 */
/* body {
  font-size: 0.7rem;
} */
.category-bar .category-list .category-collapse .category-post {
  font-size: 0.8rem;
}
.category .category-item {
  font-size: 1rem;
}
.toc-header,
.toc-header > i {
  font-size: 1rem;
}
.tocbot-list a {
  font-size: 0.8rem;
}
.category-bar .list-group-item.active {
  color: var(--link-hover-color);
  background-color: initial;
  font-weight: bold;
  font-family: ardFont;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
}

.category-bar .list-group-item.active::before {
  content: "\e61f";
  font-weight: initial;
  margin-right: 0.25rem;
  font-family: "iconfont";
  font-size: 0.8rem;
}

/* 修改代码字体 */
.markdown-body code {
  padding: 0.2em 0.4em;
  margin: 0;
  font-size: 85%;
  border-radius: 3px;
  font-family: "iconfont";
}

/* 修改main.css中暗色主题下自定义样式 */
[data-user-color-scheme='dark'] {
  --link-hover-bg-color: #36415199;
  --text-color: #cecece !important;
  --sec-text-color: #cecece !important;
  --link-hover-color: #30c5decc !important;
  --subtitle-color: #ffffff;
  --navbar-text-color: #ffffff;
}


/*文章背景模糊*/
#board {
  -webkit-backdrop-filter: blur(calc(var(--background-blur) * 2));
  backdrop-filter: blur(calc(var(--background-blur) * 2));
}

/*文章目录格式*/
#toc {
  /* font-family: fangsong; */
  padding: 10px;
  top: 4rem;
  background-color: var(--board-bg-color);
  border-radius: 10px;
  -webkit-backdrop-filter: blur(var(--background-blur));
  backdrop-filter: blur(var(--background-blur));
}


/*图片背景全部为深色*/
/* 深色模式banner img和文章页的banner imgs深色，背景都是深色所以字体都改为灰白色*/

[data-user-color-scheme='light'] {
  --post-text-color:#000;
}
[data-user-color-scheme='light'] footer{
  --text-color: #fff !important;
  color: #fff !important;

}

.category-list .category {
  margin-bottom: 0;
}

/* 侧栏分类 */
aside.sidebar.category-bar {
  top: 5rem;
  background: var(--board-bg-color);
  border-radius: 10px;
  padding: 10px;
  margin-top: 2rem;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}

aside.sidebar.category-bar a {
  border-color: #00000000;
}

/* tag标签背景 */

.note {
  color: #000;
}
.note-info {
  background-color: #eef7fa;
}
.note-success {
  background-color: #eff8f0;
}
.note-warning {
  background-color: #fdf8ea;
}
.note-primary {
  background-color: #f5f0fa;
}
.note-secondary {
  background-color: #f7f7f7;
}
.note-danger {
  background-color: #fcf1f2;
}
.note-light {
  background-color: #fff;
}

.note a {
  color: #ff8b00;
}

[data-user-color-scheme='dark'] .note-info {
  background-color: #eef7fadd;
}
[data-user-color-scheme='dark'] .note-success {
  background-color: #eff8f0dd;
}
[data-user-color-scheme='dark'] .note-warning {
  background-color: #fdf8eadd;
}
[data-user-color-scheme='dark'] .note-primary {
  background-color: #f5f0fadd;
}
[data-user-color-scheme='dark'] .note-secondary {
  background-color: #f7f7f7dd;
}
[data-user-color-scheme='dark'] .note-danger {
  background-color: #fcf1f2dd;
}
[data-user-color-scheme='dark'] .note-light {
  background-color: #ffffffdd;
}

#web_bg {
  transition: all 0.5s;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-size: cover;
}

/* 深色模式文章封面 */
[data-user-color-scheme='dark'] .index-img img {
  filter: grayscale(0.95) brightness(0.3);
  transition: filter 0.3s ease-in-out;
}
[data-user-color-scheme='dark'] .index-card:hover img {
  filter: grayscale(0) brightness(1);
}



